version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: cloud_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]


  postgres:
    image: postgres:15
    container_name: cloud-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: cloud_storage
      POSTGRES_USER: cloud_user
      POSTGRES_PASSWORD: cloud_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    container_name: cloud-minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  minio-init:
    image: minio/mc:latest
    container_name: cloud-minio-init
    depends_on:
      - minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    entrypoint: >
      /bin/sh -c "
      until mc alias set myminio http://minio:9000 $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD; do sleep 1; done;
      mc mb -p myminio/user-files || true;
      mc anonymous set none myminio/user-files || true;
      echo 'MinIO bucket user-files is ready';
      "
      
      
volumes:
  postgres_data:
  minio_data:
  redis_data:




